.account-page {
    display: grid;
    gap: 2;
    width: 100%;
    height: 100%;
}

.account-products-page {
    box-sizing: border-box;
    padding: 40px;
    background-color: #f5f5f5;
    border-radius: 15px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 20px 20px;
    border: 2px solid #bcebd475;
    padding: 30px;
}

.link-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* padding: 0px 15px 0px 5px; */
    margin-left: 10px;
    gap: 10px;
}

.account-products-page img {
    width: 100px;
    height:100px;
}

.account-product-buttons button {
    background-color: #54be74;
    border: none;
    color: #ffffff;
    cursor: pointer;
    width: 160px;
    padding: 5px;
    border-radius: 30px;
    transition: background-color 0.9s ease, transform 0.7s ease;
    display: inline-block;
    margin-bottom: 10px;
}

.product-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
}

.product-buttons  button{
    background-color: #EBEBEB;
    border: none;
    color: #5A7684;
    cursor: pointer;
    width: 80px;
    padding: 5px;
    border-radius: 30px;
    transition: background-color 0.9s ease, transform 0.7s ease;
    display: inline-block;
}

.remove-product {
    background-color: red;
    color: #ffffff;
}

.my-product-tile {
    background: #ffffff;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
